<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão do Tempo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/favicon/favicon.ico}" type="image/x-icon">
</head>

<body>

    <div class="fundo"> <!-- div principal-->

        <div class="box"> <!-- guarda formulário-->

            <div class="Titulo"> <!-- nome login-->
                <h2>Previsão do Tempo</h2>
            </div>

            <form method="post" th:action="@{/previsao-tempo/cidade}"> <!-- formulario-->
                <div class="formLogin">
                    <input th:name="cidade" required type="text" name="buscarLugar" class="buscarLugar" placeholder="Digite o nome de um lugar">
                </div>

                <div class="botao">
                    <button type="submit" value="Input Button" class="botaoEntrar">Buscar</button>
                </div>
            </form>




            <!--NOTIFICAÇÕES-->
            <label>
                <input type="checkbox" id="mostrarInput"> Deseja receber notificações?
            </label>
            
            <br>
            
            <div id="inputContainer" style="display: none;">
            <input type="text" id="meuInput" placeholder="Digite nome do lugar">
            <button id="enviar">Enviar</button>
            </div>


        
            <script>
            var checkbox = document.getElementById('mostrarInput');
            var inputContainer = document.getElementById('inputContainer');
            var enviarButton = document.getElementById('enviar');
        
            checkbox.addEventListener('change', function() {
                if (this.checked) {
                inputContainer.style.display = 'block';
                } else {
                inputContainer.style.display = 'none';
                }
            });
        
            enviarButton.addEventListener('click', function() {
                var inputValue = document.getElementById('meuInput').value;
                alert('Valor inserido: ' + inputValue);
            });
            </script>



        </div>
    </div>

</body>

</html>